{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1 class="mt-5 mb-4">Browse Buckets</h1>
    
    <div class="row">
        {% for key, bucket in buckets.items() %}
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ bucket.name }}</h5>
                    <p class="card-text">Browse images in the {{ bucket.name }} bucket.</p>
                    <a href="{{ url_for('browse_bucket', bucket_name=key) }}" class="btn btn-primary">Browse</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %} 